<div class="mat-toolbar">
  <mat-toolbar color="primary" fxLayoutAlign="center center">
      <h2>Create your QR Code for free</h2>
  </mat-toolbar>
</div>
    <div class="qr-creator-header" fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <mat-card fxLayoutWrap>
      <div fxFlex="30%" class="qr-image">
        <div id="qr_size" fxLayoutAlign="center">
          <a mat-raised-button color="accent" [href]="image" download="qr.png" id="qr_download">Download</a>
        </div>
        <br>
        <div fxLayoutAlign="center">
          <img [src]="image" alt="Download your QR Code!">
        </div>
      </div>
      <div fxFlex="70%" class="qr-creator">
        <mat-card>
          <mat-card-title fxLayoutAlign="center">Select the Category</mat-card-title>
        <mat-tab-group [@.disabled]="true" (selectedTabChange)="toggleColorPicker();">
          <mat-tab label="URL">
            <form #url_form="ngForm" [formGroup]="urlForm" (ngSubmit)="option='url';formOnSubmit(url_form);">
              <br>
              <mat-form-field>
                <input matInput formControlName="url" placeholder="Enter the full URL" required>
                <mat-error *ngIf="urlForm.hasError('required','url')">URL is needed</mat-error>
                <mat-error *ngIf="urlForm.hasError('pattern','url')">URL is not valid</mat-error>
              </mat-form-field>
              <br>
              <button mat-raised-button color="primary" type="submit" [disabled]="urlForm.invalid">Generate QR Code
              </button>
            </form>
          </mat-tab>
          <mat-tab label="TEXT">
            <form #text_form="ngForm" [formGroup]="textForm" (ngSubmit)="option='text';formOnSubmit(text_form);">
              <br>
              <mat-form-field>
                <input matInput type="text" name="text" formControlName="text" placeholder="Enter the Text" required>
                <mat-error *ngIf="textForm.hasError('required','text')">Text is required</mat-error>
              </mat-form-field>
              <br>
              <button mat-raised-button color="primary" type="submit" [disabled]="textForm.invalid">Generate QR Code
              </button>
            </form>
          </mat-tab>
          <mat-tab label="SMS">
            <form #sms_form="ngForm" [formGroup]="smsForm" (ngSubmit)="option='sms';formOnSubmit(sms_form);">
              <br>
              <mat-form-field>
                <input matInput type="tel" name="number" formControlName="number" placeholder="Enter phone number"
                       required><br>
                <mat-error *ngIf="smsForm.hasError('required','number')">Number is required</mat-error>
                <mat-error *ngIf="smsForm.hasError('minlength','number')">Number is not valid</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                <textarea matInput type="text" name="msg" formControlName="body" placeholder="Enter the Text"
                          required></textarea>
                <mat-error *ngIf="smsForm.hasError('required','body')">Body is required</mat-error>
              </mat-form-field>
              <br>
              <button mat-raised-button color="primary" ngSubmit type="submit" [disabled]="smsForm.invalid">Generate QR
                Code
              </button>
            </form>
          </mat-tab>
          <mat-tab label="EMAIL">
            <form #email_form="ngForm" [formGroup]="emailForm" (ngSubmit)="option='email';formOnSubmit(email_form);">
              <br>
              <mat-form-field>
                <input matInput type="email" name="email" formControlName="email" placeholder="Enter Email" required>
                <mat-error *ngIf="emailForm.hasError('required','email')">Email is required</mat-error>
                <mat-error *ngIf="emailForm.hasError('email','email')">Email is not valid</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput type="text" name="subject" formControlName="sub" placeholder="Enter the Subject"
                       required>
                <mat-error *ngIf="emailForm.hasError('required','sub')">Subject is required</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                <textarea matInput rows="4" cols="40" name="msg" formControlName="body" placeholder="Enter the Body"
                          required></textarea>
                <mat-error *ngIf="emailForm.hasError('required','body')">Body is required</mat-error>
              </mat-form-field>
              <br>
              <button mat-raised-button color="primary" type="submit" [disabled]="emailForm.invalid">Generate QR Code
              </button>
            </form>
          </mat-tab>
          <mat-tab label="VCARD">
            <form #vcard_form="ngForm" [formGroup]="vcardForm" (ngSubmit)="option='vcard';formOnSubmit(vcard_form);">
              <mat-form-field>
                <input matInput type="text" name="fname" formControlName="fname" placeholder="Enter first name"
                       required>
                <mat-error *ngIf="vcardForm.hasError('required','fname')">Please enter first name</mat-error>
              </mat-form-field>&nbsp;
              <mat-form-field>
                <input matInput type="text" name="lname" formControlName="lname" placeholder="Enter last name" required>
                <mat-error *ngIf="vcardForm.hasError('required','lname')">Please enter last name</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput type="tel" name="number" formControlName="number" placeholder="Enter mobile" required>
                <mat-error *ngIf="vcardForm.hasError('required','number')">Number is required</mat-error>
                <mat-error *ngIf="vcardForm.hasError('minlength','number')">Number is not valid</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput type="email" name="email" formControlName="email" placeholder="Enter Email" required>
                <mat-error *ngIf="vcardForm.hasError('required','email')">Email is required</mat-error>
                <mat-error *ngIf="vcardForm.hasError('email','email')">Email is not valid</mat-error>
              </mat-form-field>
              <br>
              <button mat-raised-button color="primary" type="submit" [disabled]="vcardForm.invalid">Generate QR Code
              </button>
            </form>
          </mat-tab>
        </mat-tab-group>
        <br>
        <mat-expansion-panel id="colorPicker">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Foreground Color
            </mat-panel-title>
            <mat-panel-description>
              Choose your color
            </mat-panel-description>
          </mat-expansion-panel-header>
          <input matInput
                 [(colorPicker)]="color" [style.background]="color" [cpPosition]="'bottom'"
                 (colorPickerChange)="createQr();"/>
        </mat-expansion-panel>

        <br>
        </mat-card>
      </div>
      </mat-card>
    </div>
<mat-toolbar class="footer">
  <h4>Designed by BARNIK</h4>
</mat-toolbar>
<router-outlet></router-outlet>
