.qr-creator .mat-form-field {
  width: 50%;
}
.qr-creator .mat-expansion-panel{
  width:80%;
  max-width: 340px;
}
.qr-image {
  margin-top: inherit;
}
.mat-form-field{
  padding: 5px;
}
.mat-card-title{
  color: blueviolet;
}
.qr-creator-header {
  margin: 5%;
}
